.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    /* los elementos html tienden a colocarse uno a lado de otro (columnas) */
}
#calculadora{
    /*efecto de cuadricula*/
    display: grid;
    /*espacios que ocupan las columnas, el numero de columnas viene dado por las longitudes*/
    grid-template-columns:75px 75px 75px 75px;
    grid-template-rows:75px 75px 75px 75px 75px 75px; 
    background: rgb(233, 168, 70);
    border-radius: 15px;
    padding: 25px;
    
}
#display{
    /*Va ocupar cuatro espacios dentro del grid es decir las cuatro columnas*/
    grid-column: span 4;
    border: 1px solid rgb(228, 214, 214);
    background-color:rgb(247, 242, 177);
    text-align: right;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    border-radius:15px;
    
}
.column-2{
    grid-column: span 2;
}
button{
    cursor: pointer;
    margin: 5px;
    border-radius: 35px;
    border: none;
    background: rgb(52, 77, 161);
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: digital-7;
}
button:active{
    background-color: blue;
}
 
header{
    font-size: 50px;
    color: rgb(8, 8, 8);
    
}
nav{
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}