
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column; 
    margin-right: 90px;
    scale: 1.4;
}
#columnas-2 {
    display: grid;
    grid-template-columns: 85px 85px;
    grid-template-rows: 10px 20px;
    /* margin: 10px; */
    /* padding: 10px; */
    gap: 10px;
    margin-bottom: 10px;
}
.details {
    /* margin-left: auto; */
    margin: 100px;
}
button{
    background-color: rgb(50, 50, 184) ;
    opacity: 0.9;
    color: white;
    border-radius: 5px;
}
#imagen {
    padding: 50px;
    width: 300px;
}

.msg_error{
    background-color: rgb(0, 0, 0);
    border-left: 5px solid red;
    padding: 10px;
    color: rgb(180, 30, 30);
    display: none; /* Con el none se oculta */
    font-weight: bold;
}
.error_asterisco{
    color: red;
    font-weight: bold;
    font-size: 15px;
}